.alert {
    padding: 20px;
    margin-bottom: 1px;
    font-weight: bold;
    color: black;
    font-size: large;
}
.errorColor {
    background-color: #f44336;
}
.successColor {
    background-color: #5cb85c;
}
.infoColor {
    background-color: #f4b50b;
}
/* The close button */
.closebtn {
     margin-left: 15px;
     color: white;
     font-weight: bold;
     float: right;
     font-size: 22px;
     line-height: 20px;
     cursor: pointer;
     transition: 0.3s;
 }
.closebtn:checked {
    color: red;
}
/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}


